name: release and push to central
on:
  push:
    tags:
      - '*'
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Import GPG key
        run: |
          mkdir -p ~/.gnupg
          printf "%s" "${{ secrets.MAVEN_GPG_PRIVATE_KEY }}" | gpg --batch --import
          
      - name: Deploy to maven central
        run: mvn -B -e -s .github/maven/settings.xml clean deploy -Prelease -Dgpg.passphrase="$GPG_PASSPHRASE"
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_SONATYPE_TOKEN_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_SONATYPE_TOKEN_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}